@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');
/*@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans');*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@font-face {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Samsung Sharp Sans'), url('src/Assets/Fonts/samsungsharpsans.woff') format('woff');
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Samsung Sharp Sans'), url('src/Assets/Fonts/samsungsharpsans-medium.woff') format('woff');
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Samsung Sharp Sans'), url('src/Assets/Fonts/samsungsharpsans-bold.woff') format('woff');
}

/*.ql-editor {*/
/*    height: 250px;*/
/*    max-height: 250px;*/
/*    overflow: auto;*/
/*}*/

.ql-editor {
    min-height: 18rem;
    max-height: 18rem;
    overflow: auto;
    /* resize: vertical; */
    /* min-height: 18em; */
}

.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
}

/* Snow Theme */
.ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.ql-bubble .ql-editor {
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

@media all {
    .page-break {
      display: none;
    }
  }

  @media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }

  @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-before: auto;
    }
  }

  @page {
    size: auto;
    margin: 20mm;
  }